h1 {
  font-family: Work Sans, sans-serif;
}
p {
  font-size: 25px;
  margin: 50px;
}
.a {
  font-family: Poppins, sans-serif;
}
.b {
  font-family: Work Sans, sans-serif;
}
.c {
  font-family: Fuzzy Bubbles, cursive;
}
.d {
  font-family: Klee One, cursive;
}
.e {
  font-family: Sriracha, cursive;
}
