
h1 {
    font-family: IBM Plex Sans Arabic', sans-serif;
}
.a {
    font-family: IBM Plex Serif', serif;
}
.b {
    font-family: Playfair Display', serif;
}
.c{
    font-family: Poppins', sans-serif;
}
.d {
    font-family: Work Sans', sans-serif;
}